{{define "yield"}}
<h1>Get in Touch </h1>
<p>
    To get in touch, please send an email to 
    <a href="mailto:support@lenslocked-project-demo.net">
    support@lenslocked-project-demo.net
    </a>.
</p>




{{end}}